* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: rgb(30, 50, 50);
    color: white;
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container {
    display: grid;
    gap: 0.7em;
    padding: 0.7em;
    display: flex;
    position: relative;
}

.container > div {
    padding: 0.7em;
}

.drawing-board {
    color: white;
}

.toolbar {
    top: 7px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0.2em;
    height: 790px;
    width: 60em;
    min-width: 30em;
    background-color: #202020;
}

.toolbar * {
    margin-bottom: 0.3em;
}

.toolbar > label {
    font-size: 1.5em;
}

.toolbar > button {
    position: absolute;
    font-family: monospace;
    top: 86%;
    left: 25%;
    width: 50%;
    background-color: #1565c0;
    border: none;
    border-radius: 0.2em;
    color:white;
    padding: 0.1em;
}

.toolbar #save {
    top: 90%;
}

.results-bar {
    -webkit-mask:linear-gradient(#fff 0 0);
    mask:linear-gradient(#fff 0 0);
}

.results-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(90deg, rgba(126,24,4,1) 5%, rgba(213,167,31,1) 20%, rgba(24,255,0,1) 40%);
}

.results-grid {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0.2em;
    background-color: #202020;
}

.results {
    color: rgb(130, 130, 130);
}

.results-label {
    color: white;
}

.results-grid > label {
    padding: 0.4em;
    font-size: 1.5em;
}

